.reserve-form-items-btn-date{
    width: 118px;
    height: 36px;
    
    border-radius: 4px;
}

.reserve-form-items-material{
    width:100%;
}

.reserve-form-list{
    @include pad{
        width: 330px;
        margin: 0 auto;
    }
    @include pad{
        width: 350px;
        margin: 0 auto;
    }
}